# Novu configuration (added by Novu Inbox Installer)
NEXT_PUBLIC_NOVU_APP_ID=
DITTOFEED_API_URL=
DITTOFEED_API_KEY=
DITTOFEED_ADMIN_BASE_PATH=api
DITTOFEED_WRITE_URL=
DITTOFEED_WRITE_KEY=
DITTOFEED_WORKSPACE_ID=
